<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pos.wepindia.com.retail">

    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />


    <application
        android:name="com.mswipetech.wisepad.sdktest.view.ApplicationData"
        android:allowBackup="true"
        android:icon="@mipmap/ic_company_logo"
        android:label="@string/app_name"
        android:theme="@style/AppThemeWep"
        android:configChanges="screenSize|screenLayout|smallestScreenSize"
        android:screenOrientation="sensorLandscape"
        android:windowSoftInputMode="adjustPan|stateAlwaysHidden">

        <service android:name="com.payphi.merchantsdk.SdkFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.payphi.merchantsdk.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!-- Add your API key here -->
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="xxxxxxxx" />

        <activity android:name="pos.wepindia.com.retail.view.LoginActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="pos.wepindia.com.retail.view.HomeActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            android:screenOrientation="sensorLandscape"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <service
            android:name="com.gprinter.service.GpPrintService"
            android:enabled="true"
            android:exported="true"
            android:label="GpPrintService"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.gprinter.aidl.GpPrintService" />
            </intent-filter>
        </service>

        <activity
            android:name="com.wepindia.printers.heydey.PrinterFragment"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="com.wepindia.printers.heydey.BluetoothDeviceList"
            android:screenOrientation="sensorLandscape" />

        <receiver android:name="com.wepindia.printers.heydey.DeviceBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name="com.wepindia.printers.MainActivity" />
 		<!-- Components required for MSwipe Integration Start -->

        <activity
            android:name="com.mswipetech.wisepad.payment.PaymentActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name="com.mswipetech.wisepad.payment.MSwipePaymentActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.mswipetech.wisepad.payment.PasswordChangeActivity"
            android:configChanges="screenSize|screenLayout|smallestScreenSize"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan" />

        <service android:name="com.mswipetech.wisepad.sdktest.util.PrinterConnectionService" />
        <!-- Components required for MSwipe Integration end -->

    </application>

</manifest>